<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.funnel</string>
	<key>category</key>
	<string>text</string>
	<key>connections</key>
	<dict>
		<key>0BF808CD-6DC2-4825-8833-88E786D32B7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2F9044E-60EE-47C5-8FAA-74D53747AD46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12AE3819-4F96-44F3-9682-8319DEEF5145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E95D2DE9-305F-4CD9-82EC-F9ED18707583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36256A26-6927-4D8F-9BD4-38041C45FB31</key>
		<array/>
		<key>510E8A6B-8456-4072-8C77-C7AAA4045905</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1748F06-15EB-4921-9E03-2926086BD6E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55EA517C-8035-42B6-841D-045D39F548EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F70B7D6-8213-4C1E-B428-CD1E11EF7D0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36256A26-6927-4D8F-9BD4-38041C45FB31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F70B7D6-8213-4C1E-B428-CD1E11EF7D0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEA2E56F-569C-4585-A404-854A82BBFB16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FD2BCBC-7A75-4632-915A-1EAD775DE965</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F70B7D6-8213-4C1E-B428-CD1E11EF7D0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1748F06-15EB-4921-9E03-2926086BD6E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEA2E56F-569C-4585-A404-854A82BBFB16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4AC5D50-5838-428C-A1AA-62F7CF0E21AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC9E8AD2-186F-4FAE-84C7-16F46F37B4CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B19782B8-79E5-40CB-A222-6853592911E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEA2E56F-569C-4585-A404-854A82BBFB16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E95D2DE9-305F-4CD9-82EC-F9ED18707583</key>
		<array/>
		<key>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19782B8-79E5-40CB-A222-6853592911E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Funnel selected text or a file through a selected filter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>.funnel ⇧⌘|  |c |f | Funnel</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript -e 'tell application "System Events" to keystroke "c" using command down'
sleep 0.3

/opt/bin/funnel_clipboard.sh $*

osascript -e 'tell application "System Events" to keystroke "v" using command down'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E95D2DE9-305F-4CD9-82EC-F9ED18707583</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading filters...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Selected text will be modified in place</string>
				<key>title</key>
				<string>Funnel Selection through Filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12AE3819-4F96-44F3-9682-8319DEEF5145</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Funneled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>03B1EC3C-20B2-459D-9ACF-A0552419B368</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>|</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Alfred 3" to search "| "'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36256A26-6927-4D8F-9BD4-38041C45FB31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|c</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading filters...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Selected text should already be on the clipboard</string>
				<key>title</key>
				<string>Funnel Clipboard through Filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55EA517C-8035-42B6-841D-045D39F548EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/opt/bin/funnel_clipboard.sh $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/tpierzina/Dropbox/bin/funnel_clipboard.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F70B7D6-8213-4C1E-B428-CD1E11EF7D0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>.funnel</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading filters...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Selected text should already be on the clipboard</string>
				<key>title</key>
				<string>Funnel Clipboard through Filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8FD2BCBC-7A75-4632-915A-1EAD775DE965</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>EEA2E56F-569C-4585-A404-854A82BBFB16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>|settings</string>
				<key>subtext</key>
				<string>Open filters.json</string>
				<key>text</key>
				<string>View Funnel Settings File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4AC5D50-5838-428C-A1AA-62F7CF0E21AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>filters.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CC9E8AD2-186F-4FAE-84C7-16F46F37B4CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|f</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading filters...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The name of the selected file should already be on the clipboard | .ffunnel \|f</string>
				<key>title</key>
				<string>Funnel File through Filter to Clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>FILENAME="$(pbpaste)"
&gt;&amp;2 echo "FILENAME = $FILENAME, query = {query}"

TEXT="$(cat "$FILENAME" | {query})"

echo "$TEXT" | pbcopy

# pass filename + first 3 non-blank lines to output
echo "$FILENAME"
echo "--"
echo "$TEXT" | grep -E -v '^[[:space:]]*$' | head -n 3</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B19782B8-79E5-40CB-A222-6853592911E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>echo "{query}" | pbcopy
osascript -e 'tell application "Alfred 3" to search "|f "'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Funnel to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|ff</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading filters...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The name of the selected file should already be on the clipboard | .ffunnel \|f</string>
				<key>title</key>
				<string>Funnel File through Filter In Place</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>510E8A6B-8456-4072-8C77-C7AAA4045905</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>echo "{query}" | pbcopy
osascript -e 'tell application "Alfred 3" to search "|ff "'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2F9044E-60EE-47C5-8FAA-74D53747AD46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Funnel in Place</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>0BF808CD-6DC2-4825-8833-88E786D32B7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>FILENAME="$(pbpaste)"
&gt;&amp;2 echo "FILENAME = $FILENAME, query = {query}"

TEXT="$(cat "$FILENAME" | {query})"

echo "$TEXT" | tee "$FILENAME" | pbcopy

echo "$FILENAME"
echo "--"
echo "$TEXT" | grep -E -v '^[[:space:]]*$' | head -n 3</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1748F06-15EB-4921-9E03-2926086BD6E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03B1EC3C-20B2-459D-9ACF-A0552419B368</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>0BF808CD-6DC2-4825-8833-88E786D32B7B</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>12AE3819-4F96-44F3-9682-8319DEEF5145</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>36256A26-6927-4D8F-9BD4-38041C45FB31</key>
		<dict>
			<key>note</key>
			<string>tell alfred: |</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>510E8A6B-8456-4072-8C77-C7AAA4045905</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>55EA517C-8035-42B6-841D-045D39F548EB</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>6F70B7D6-8213-4C1E-B428-CD1E11EF7D0B</key>
		<dict>
			<key>note</key>
			<string>filter clipboard to new clipboard entry</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</key>
		<dict>
			<key>note</key>
			<string>tell alfred: |f</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>8FD2BCBC-7A75-4632-915A-1EAD775DE965</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>A1748F06-15EB-4921-9E03-2926086BD6E0</key>
		<dict>
			<key>note</key>
			<string>filter file in place</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>A4AC5D50-5838-428C-A1AA-62F7CF0E21AF</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>B19782B8-79E5-40CB-A222-6853592911E4</key>
		<dict>
			<key>note</key>
			<string>filter file to clipboard</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>CC9E8AD2-186F-4FAE-84C7-16F46F37B4CA</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>E95D2DE9-305F-4CD9-82EC-F9ED18707583</key>
		<dict>
			<key>note</key>
			<string>copy selection, filter, paste</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EEA2E56F-569C-4585-A404-854A82BBFB16</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>F2F9044E-60EE-47C5-8FAA-74D53747AD46</key>
		<dict>
			<key>note</key>
			<string>tell alfred '|ff '</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
