<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.0</string>
	<key>connections</key>
	<dict>
		<key>019A552E-CFE3-48DE-81BB-320717C78CBF</key>
		<array/>
		<key>5EAF49CC-7A15-48C7-9CB6-728934A36F82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4B7D341-7B10-4E23-80DB-450438CFD4B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>019A552E-CFE3-48DE-81BB-320717C78CBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B7D341-7B10-4E23-80DB-450438CFD4B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10BAF500-BD08-4694-8CDF-22AAA7641D3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB21A325-2912-4BC6-BEBC-77D45B09DA39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EAF49CC-7A15-48C7-9CB6-728934A36F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artform</string>
	<key>description</key>
	<string>Rates an iTunes track using hotkey</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>.rating | iTunes Rating</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>14</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>F4B7D341-7B10-4E23-80DB-450438CFD4B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Rating set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>10BAF500-BD08-4694-8CDF-22AAA7641D3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FB21A325-2912-4BC6-BEBC-77D45B09DA39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.rating</string>
				<key>subtext</key>
				<string>Enter number from 1 to 5</string>
				<key>text</key>
				<string>Rate iTunes track</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EAF49CC-7A15-48C7-9CB6-728934A36F82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 tell application "iTunes"
	set rating of current track to 20 * q
	if q &lt; 3  then
		next track
	end if
 end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>019A552E-CFE3-48DE-81BB-320717C78CBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use Control+Alt+` to invoke. In the Alfred dialog, press a number from 1-5. You can also clear the current rating by pressing 0.</string>
	<key>uidata</key>
	<dict>
		<key>019A552E-CFE3-48DE-81BB-320717C78CBF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>10BAF500-BD08-4694-8CDF-22AAA7641D3B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5EAF49CC-7A15-48C7-9CB6-728934A36F82</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F4B7D341-7B10-4E23-80DB-450438CFD4B1</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FB21A325-2912-4BC6-BEBC-77D45B09DA39</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://artform.ca</string>
</dict>
</plist>
