<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>dev</string>
	<key>connections</key>
	<dict>
		<key>8EDB2F32-7F40-406E-B33D-8BE9308DBB83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C73FBA68-DA31-4528-9E22-6DCDEBA3E7F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>932F4381-E979-4182-AFB8-D215DF46BB2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D1D083-F79A-43C0-9E6E-F282289F5D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1D1D083-F79A-43C0-9E6E-F282289F5D42</key>
		<array/>
		<key>C73FBA68-DA31-4528-9E22-6DCDEBA3E7F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D1D083-F79A-43C0-9E6E-F282289F5D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBB31B16-ABA7-4A46-807C-CF3FEFE5EF7B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>/* {query} */</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>932F4381-E979-4182-AFB8-D215DF46BB2C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>&lt;!-- {query} --&gt;</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE112998-7480-428A-9D7A-EDB286C1E5A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EDB2F32-7F40-406E-B33D-8BE9308DBB83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBB31B16-ABA7-4A46-807C-CF3FEFE5EF7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D1D083-F79A-43C0-9E6E-F282289F5D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>.hexa | ColorHexa lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C1D1D083-F79A-43C0-9E6E-F282289F5D42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>39796B5C-F943-4FF8-AB99-60CA0875D522</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.hexa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking up {query} color description at colorhex.com</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

BASH="/usr/local/bin/bash"

$BASH /opt/bin/hexa.sh "$1" "alfred"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/opt/bin/hexa.sh</string>
				<key>subtext</key>
				<string>Find ColorHexa's text description of #RGB color</string>
				<key>title</key>
				<string>Hexa</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C73FBA68-DA31-4528-9E22-6DCDEBA3E7F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.+)</string>
				<key>replacestring</key>
				<string>/* $1 */</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DBB31B16-ABA7-4A46-807C-CF3FEFE5EF7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.+)</string>
				<key>replacestring</key>
				<string>&lt;!-- $1 --&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>932F4381-E979-4182-AFB8-D215DF46BB2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find ColorHexa's text description of #RGB color</string>
				<key>text</key>
				<string>Hexa</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE112998-7480-428A-9D7A-EDB286C1E5A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>rgb_input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8EDB2F32-7F40-406E-B33D-8BE9308DBB83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>39796B5C-F943-4FF8-AB99-60CA0875D522</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8EDB2F32-7F40-406E-B33D-8BE9308DBB83</key>
		<dict>
			<key>note</key>
			<string>rgb_input = {query}</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>932F4381-E979-4182-AFB8-D215DF46BB2C</key>
		<dict>
			<key>note</key>
			<string>&lt;!-- $1 --&gt;</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>C1D1D083-F79A-43C0-9E6E-F282289F5D42</key>
		<dict>
			<key>note</key>
			<string>color desc</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C73FBA68-DA31-4528-9E22-6DCDEBA3E7F2</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CE112998-7480-428A-9D7A-EDB286C1E5A8</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>DBB31B16-ABA7-4A46-807C-CF3FEFE5EF7B</key>
		<dict>
			<key>note</key>
			<string>/* $1 */</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
