<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>system</string>
	<key>connections</key>
	<dict>
		<key>082563E0-7CD9-4FDE-9A07-BDF016C34A88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>307DB936-C549-484F-8D6A-E029E2E2284E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>082563E0-7CD9-4FDE-9A07-BDF016C34A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>978D1557-3466-4331-BA52-9C438C3FF337</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>082563E0-7CD9-4FDE-9A07-BDF016C34A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C08038BF-E6A0-478C-A95B-D0888E7E8E94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C375D79A-5B99-4E57-B481-CBBA294267E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C754A3EA-05CF-4347-A08B-1485870D76C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C375D79A-5B99-4E57-B481-CBBA294267E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF32653B-DA9D-4634-8C30-8A58722FD7D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>[Paste and] Remove the top item on clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>.cpop .cppop | Clipboard [Paste and] Pop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

clip="$(pbpaste)"
clip_len="${#clip}"

1&gt;&amp;2 echo "clip_len = $clip_len, clip:0:40 = ${clip:0:40}"
[[ $clip_len &gt; 40 ]] &amp;&amp; clip="${clip:0:40}..."

echo -n "$clip"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C375D79A-5B99-4E57-B481-CBBA294267E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

--	if q is "true" then
--		tell application "System Events" to keystroke "v" using command down
--	end if	do shell script "sqlite3 '/Users/tpierzina/Library/Application Support/Alfred 3/Databases/clipboard.alfdb' 'SELECT item FROM clipboard ORDER BY ts DESC LIMIT 1 OFFSET 1;' | pbcopy"	do shell script "sqlite3 '/Users/tpierzina/Library/Application Support/Alfred 3/Databases/clipboard.alfdb' 'DELETE FROM clipboard ORDER BY ts DESC LIMIT 2;'"

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.cpop</string>
				<key>subtext</key>
				<string>Remove the top item from clipboard history | .cpop</string>
				<key>text</key>
				<string>Clipboard Pop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF32653B-DA9D-4634-8C30-8A58722FD7D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New clipboard:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C754A3EA-05CF-4347-A08B-1485870D76C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C08038BF-E6A0-478C-A95B-D0888E7E8E94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.cppop</string>
				<key>subtext</key>
				<string>Paste and remove the top item from clipboard history | .cppop</string>
				<key>text</key>
				<string>Clipboard Paste and Pop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>978D1557-3466-4331-BA52-9C438C3FF337</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>082563E0-7CD9-4FDE-9A07-BDF016C34A88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>307DB936-C549-484F-8D6A-E029E2E2284E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>082563E0-7CD9-4FDE-9A07-BDF016C34A88</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>307DB936-C549-484F-8D6A-E029E2E2284E</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>978D1557-3466-4331-BA52-9C438C3FF337</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C08038BF-E6A0-478C-A95B-D0888E7E8E94</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C375D79A-5B99-4E57-B481-CBBA294267E2</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C754A3EA-05CF-4347-A08B-1485870D76C1</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E1DFE26B-7B55-4D3F-8D3A-084701B7C15A</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>EF32653B-DA9D-4634-8C30-8A58722FD7D9</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
