<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>text</string>
	<key>connections</key>
	<dict>
		<key>8E264BBC-86B2-4104-9691-BFB4D1362288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B9CAB93-2737-49D6-AFED-DD6661C7CB18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEEEE59F-12D7-4E7A-93E1-3C7F6DCC67D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E264BBC-86B2-4104-9691-BFB4D1362288</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Edit the top clipboard item in Sublime Text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sandbox | edit clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8B9CAB93-2737-49D6-AFED-DD6661C7CB18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.editclipboard</string>
				<key>subtext</key>
				<string>Edit current clipboard contents in Sublime</string>
				<key>text</key>
				<string>Edit Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DEEEE59F-12D7-4E7A-93E1-3C7F6DCC67D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/bin/edit_clipboard.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E264BBC-86B2-4104-9691-BFB4D1362288</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8B9CAB93-2737-49D6-AFED-DD6661C7CB18</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8E264BBC-86B2-4104-9691-BFB4D1362288</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DEEEE59F-12D7-4E7A-93E1-3C7F6DCC67D6</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
