<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.david.faves</string>
	<key>category</key>
	<string>find files</string>
	<key>connections</key>
	<dict>
		<key>290F6931-A9F0-4547-9196-2187F7534B55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B6BD71F-027C-4652-9001-771485949D34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D89C27EF-D9B6-413E-920D-1863844F9316</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete Favorite</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D56E997-57BB-4B74-919E-706B273E1326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2041779-27B9-4E1E-BF29-4047298B2FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D56E997-57BB-4B74-919E-706B273E1326</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Quickly access your favorite files and folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>.fav | Favorites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python add.py '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D56E997-57BB-4B74-919E-706B273E1326</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5B6BD71F-027C-4652-9001-771485949D34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>.fav</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting your list of favorites...</string>
				<key>script</key>
				<string>python get.py '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find your favorite files and folders</string>
				<key>title</key>
				<string>Favorites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>290F6931-A9F0-4547-9196-2187F7534B55</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>D89C27EF-D9B6-413E-920D-1863844F9316</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python remove.py '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Remove from Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A2041779-27B9-4E1E-BF29-4047298B2FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fork of David Ferguson’s original 'Favorites' workflow</string>
	<key>uidata</key>
	<dict>
		<key>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>290F6931-A9F0-4547-9196-2187F7534B55</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2BCD1015-6DEA-462C-8E37-F1439F833A70</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2D56E997-57BB-4B74-919E-706B273E1326</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>5B6BD71F-027C-4652-9001-771485949D34</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>A2041779-27B9-4E1E-BF29-4047298B2FFA</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D89C27EF-D9B6-413E-920D-1863844F9316</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/TylerEich/Alfred-Extras</string>
</dict>
</plist>
